@mixin compileClasses($valueMap, $propertyMap) {

  @each $valueKey,
  $value in $valueMap {

    @each $propertyKey,
    $property in $propertyMap {
      .#{$propertyKey}-#{$valueKey} {
        #{$property}: $value
      }
    }
  }
}

@mixin custom-scroll-bar() {
  &::-webkit-scrollbar {
    border-radius: 10px;
    height: 10px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}

// no scroll bar
@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}

.fancy-scrollbar {
  @include custom-scroll-bar()
}