// Base utility classes
.flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  * {
    flex-grow: 1;
  }
}

.flex-center {
  justify-content: center;
}

.mx-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.border {
  border-style: solid;
  border-width: 1px;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 9;
}